/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

#MainContent_CreateTable td{
    padding-right: 20px !important;
    vertical-align: middle;
}

#MainContent_CreateTable{
    width: 100% !important;
}

input[type="checkbox"]{
    margin-right: 6px;
}

#MainContent_addressTable{
    border-collapse: separate;
    font-size: 13px;
}

#MainContent_addressTable td{
    padding-right: 10px !important;
    vertical-align: top;
}


#MainContent_TotalTable{
    border-collapse: separate;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

#MainContent_TotalTable td{
    padding-right: 10px !important;
}

.addressInfo {
    text-align: right;
}

.ClientInfo {
    font-weight: bold;
    font-size: 14px;
}


.export-container{
    margin-left: 130px;
    margin-right: -55px;
}

#MainContent_DebTable{
    border-collapse: separate;
    margin-top: 84px;
}

#MainContent_FactuurDatumTable{
    border-collapse: separate;
}

#MainContent_FactuurDatumTable td{
    vertical-align: top;
}

.FactInfo{
    vertical-align: top;
    font-size: 14px;
}

